@font-face {
  font-family: Merriweather;
  src: local('Merriweather'),
      url('../fonts/merriweather-regular.woff2') format('woff2'),
      url('../fonts/merriweather-regular.woff') format('woff');
      font-weight: 400;
      font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Light'), local('Nunito-Light'),
      url('../fonts/nunito-light.woff2') format('woff2'),
      url('../fonts/nunito-light.woff') format('woff');
      font-weight: 300;
      font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Extra Light'), local('Nunito-Extra-Light'),
      url('../fonts/nunito-extra-light.woff2') format('woff2'),
      url('../fonts/nunito-extra-light.woff') format('woff');
      font-weight: 200;
      font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold'), local('Nunito-Bold'),
      url('../fonts/nunito-bold.woff2') format('woff2'),
      url('../fonts/nunito-bold.woff') format('woff');
      font-weight: 700;
      font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Semi Bold'), local('Nunito-Semi-Bold'),
      url('../fonts/nunito-semi-bold.woff2') format('woff2'),
      url('../fonts/nunito-semi-bold.woff') format('woff');
      font-weight: 600;
      font-display: swap;
}