.reservation {
  padding-top: 75px;
  padding-bottom: 150px;
  &__form {
    margin: 0 auto;
    padding: 60px 100px;
    border: 1px solid $placeholder-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 980px;
  }
  &__title {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 34px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  &__selects {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__select {
    &-wrapper {
      background: rgba(255, 255, 255, 0.72);
      border: 1px solid $placeholder-color;
      border-radius: 12px;
      padding: 12px 15px;
      max-width: 221px;
      height: auto;
    }
    &-arrow {
      background: url("../img/reservation/arrow.svg") center / contain no-repeat;
    }
  }
  &__input-wrap {
    background: rgba(255, 255, 255, 0.72);
    border: 1px solid $placeholder-color;
    padding: 12px 15px;
    border-radius: 12px;
    color: $placeholder-color;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    height: 99px;
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $color;
    margin-bottom: 12px;
  }
  &__input {
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.7;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    min-width: 360px;
  }
  &__bottom {
    width: 100%;
  }
  &__data {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  &__button {
    padding: 24px 112px;
    border-radius: 12px;
  }
  @media (max-width: 1200px) {
    padding: 60px 0 130px;
    &__form {
      padding: 60px 80px;
    }
    &__title {
      font-size: 30px;
    }
    &__info {
      height: 67px;
    }
    &__button {
      padding: 18px 81px;
    }
  }
  @media (max-width: 1024px) {
    padding-top: 45px;
    padding-bottom: 95px;
    &__form {
      padding: 40px 60px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__label {
      font-size: 14px;
      margin-bottom: 15px;
    }
    &__select {
      &-wrapper {
        width: 170px;
        height: 99px;
      }
    }
    &__input {
      &-wrap {
        min-width: 280px;
        height: 83px;
      }
    }
    &__data {
      max-width: 240px;
      font-size: 14px;
    }
    &__price {
      font-size: 18px;
    }
    &__button {
      padding: 12px 57px;
      font-size: 14px;
      height: 45px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 55px;
    &__form {
      padding: 20px 10px;
      max-width: 270px;
      gap: 25px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 0;
    }
    &__inputs {
      gap: 15px;
    }
    &__selects {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    &__select {
      &-wrapper {
        padding: 8px 15px;
        height: 86px;
      }
      &-text {
        max-width: 120px;
      }
    }
    &__contacts {
      flex-direction: column;
      gap: 15px;
    }
    &__input {
      font-size: 12px;
      &-wrap {
        min-width: 250px;
        height: 70px;
      }
    }
    &__label {
      font-size: 12px;
    }
    &__bottom {
      flex-direction: column;
      gap: unset;
    }
    &__data {
      font-size: 12px;
    }
    &__info {
      min-width: 250px;
      margin-bottom: 10px;
    }
    &__button {
      font-size: 12px;
      padding: 8px 30px;
      border-radius: 4px;
      max-width: 150px;
      align-self: center;
      height: 34px;
    }
  }
}