.tour {
  padding-top: 100px;
  padding-bottom: 0;
  background: url("../img/tour/background.jpg") center / cover no-repeat;
  color: $color-light;
  &__text {
    max-width: 410px;
    margin-bottom: 80px;
    line-height: 150%;
  }
  &__content {
    padding: 68px 60px;
    background: rgba(230, 205, 173, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px 30px 0 0;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    background: rgba(33, 25, 25, 0.78);
    border-radius: 20px;
    color: $color-light;
    padding: 23px 38px;
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
  }
  &__select {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    &-wrapper {
      position: relative;
      width: 217px;
      height: 87px;
      padding: 12px 26px 0px 2px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      cursor: pointer;
      &:focus {
        .tour__select-arrow {
          background: url("../img/tour/arrow_orange.svg") center / 12px 7px no-repeat;
        }
      }
      &:active {
        color: $add-color;
        .tour__select-arrow {
          background: url("../img/tour/arrow_orange.svg") center / 12px 7px no-repeat;
        }

      }
      &:hover {
        .tour__select-arrow {
          background: url("../img/tour/arrow_orange.svg") center / 12px 7px no-repeat, $color-light;
        }
      }
    }
    &-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 130%;
      opacity: 0.7;
      max-width: 140px;
    }
    &-arrow {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 38px;
      right: 25px;
      background: url("../img/tour/arrow.svg") center / 12px 7px no-repeat;
      cursor: pointer;
      border-radius: 50%;
    }
  }
  &__button {
    padding: 22px 56px;
    border-radius: 12px;
    line-height: 130%;
    max-height: 67px;
    align-self: center;
  }
  @media (max-width: 1200px) {
    padding-top: 80px;
    &__select {
      &-wrapper {
        max-width: 187px;
      }
    }
    &__content {
      padding: 50px 60px;
    }
    &__button {
      padding: 13px 41px 16px;
    }
    &__form {
      padding: 23px 20px;
    }
  }
  @media (max-width: 1024px) {
    padding-top: 35px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__info {
      max-width: 400px;
    }
    &__text {
      font-size: 14px;
      max-width: 330px;
      margin-bottom: 0;
    }
    &__content {
      max-width: 300px;
      height: 100%;
      padding: 30px;
      margin-top: -35px;
    }
    &__form {
      flex-direction: column;
      padding: 20px 17px 30px 37px;
      gap: 30px;
    }
    &__label {
      font-size: 14px;
    }
    &__select {
      &-wrapper {
        padding: 8px 15px 9px 13px;
        gap: 15px;
      }
      &-text {
        font-size: 14px;
      }
      &-arrow {
        top: 25px;
        right: 15px;
      }
    }
    &__button {
      padding: 12px 43px;
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 20px;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__info {
      max-width: 270px;
      margin-bottom: 25px;
    }
    &__text {
      font-size: 12px;
      margin-bottom: 0;
    }
    &__content {
      margin-top: 0;
      padding: 25px;
    }
    &__form {
      padding: 8px 25px 25px;
      max-height: 400px;
    }
    &__select {
      &-wrapper {
        padding: 8px 11px 15px 10px;
        max-width: 150px;
      }
      &-text {
        font-size: 12px;
      }
    }
    &__label {
      font-size: 12px;
    }
    &__button {
      font-size: 12px;
      padding: 8px 30px;
      border-radius: 4px;
    }
  }
}

.options {
  position: absolute;
  top: 123px;
  background: #FFFFFF;
  color: $color;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  align-items: center;
  flex-direction: column;
  opacity: 0;
  display: none;
  transition: 1s;
  padding: 20px;
  z-index: 2;
  &__title {
    margin-bottom: 20px;
  }
  &_active {
    display: flex;
    opacity: 1;
  }
  &__months {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-self: flex-start;
    align-items: center;
    gap: 11px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-right: 1px solid $unactive-color;
  }
  &__lists {
    display: flex;
    margin-bottom: 20px;
  }
  &__month {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $unactive-color;
    &_active {
      font-size: 16px;
      color: $add-color;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &__dates {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 20px;
    padding-top: 40px;
  }
  &__date {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    &:focus {
      transform: scale(1.1);
    }
    &:active {
      color: $add-color;
    }
    &_active {
      color: $add-color;
    }
    @media (min-width: 1000px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__radio {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    &-label {
      cursor: pointer;
    }
  }
  &__button {
    align-self: flex-end;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 14px;
  }
  &__date-wrap {
    right: 0;
    width: 282px;
    height: 381px;
    padding-left: 0;
    align-items: center;
  }
  &__people-wrap {
    right: 50%;
    align-items: center;
    flex-direction: column;
  }
  &__people {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    gap: 20px;
  }
  &__number {
    &:active {
      color: $add-color;
    }
    &_active {
      color: $add-color;
    }
    @media (min-width: 1000px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__options-wrap {
    right: 20px;
    width: 219px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    gap: 25px;
    margin-bottom: 20px;

  }
  &__option {
    position: relative;
    display: flex;
    padding-left: 36px;
    &_active {
      color: $add-color;
    }
  }
  &__check {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color;
    &_active {
      background: url("../img/tour/check.svg") center / contain no-repeat;
      border: 1px solid $add-color;

    }
  }
  &__checkbox {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    &-label {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      flex-direction: row-reverse;
      cursor: pointer;
      @media (min-width: 1000px) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &__select-text_active {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    top: 50px;
    &__people-wrap {
      right: 0;
    }
    &__options-wrap {
      right: 0;
    }
  }
  @media (max-width: 768px) {
    &__title {
      font-size: 14px;
    }
    &__date-wrap {
      width: 200px;
      padding: 10px 10px 10px 0;
      height: auto;
    }
    &__months {
      width: 100px;
    }
    &__month {
      font-size: 12px;
    }
    &__dates {
      padding-left: 10px;
    }
    &__date {
      font-size: 12px;
    }
    &__button {
      font-size: 12px;
      padding: 8px 20px;
    }
    &__people-wrap {
      padding: 10px;
    }
    &__people {
      gap: 10px;
      font-size: 12px;
    }
    &__options-wrap {
      width: 150px;
      padding: 10px;
    }
    &__options {
      font-size: 12px;
      gap: 15px;
    }
  }

}


