.why {
  padding-bottom: 75px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 57px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding-top: 64px;
    &:after {
      position: absolute;
      content: '';
      left: 17px;
      top: 7px;
      width: 40px;
      height: 40px;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: $add-color;
    }
    &:nth-child(1) {
      &:after {
        background: url("../img/why/compass.svg") bottom right / contain no-repeat;
      }
    }
    &:nth-child(2) {
      &:after {
        background: url("../img/why/suitcase.svg") bottom right / contain no-repeat;
      }
    }
    &:nth-child(3) {
      &:after {
        background: url("../img/why/shield.svg") bottom right / contain no-repeat;
      }
    }
    &:nth-child(4) {
      &:after {
        background: url("../img/why/meds.svg") bottom right / contain no-repeat;
      }
    }
    &:nth-child(5) {
      &:after {
        background: url("../img/why/pacifier.svg") bottom right / contain no-repeat;
      }
    }
    &:nth-child(6) {
      &:after {
        background: url("../img/why/food.svg") bottom right / contain no-repeat;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
    }
  }

  @media (max-width: 1300px) {
    padding-top: 120px;
    padding-bottom: 60px;
    &__item {
      max-width: 300px;
    }
    &__title {
      margin-bottom: 60px;
    }
  }
  @media (max-width: 1024px) {
    padding-top: 90px;
    padding-bottom: 45px;
    &__list {
      row-gap: 30px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__item {
      max-width: 220px;
      &-title {
        font-size: 16px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 25px;
    &__text {
      margin-bottom: 52px;
    }
    &__list {
      row-gap: 25px;
      column-gap: 10px;
      justify-content: space-around;
    }
    &__item {
      max-width: 170px;
      &-title {
        font-size: 14px;
        margin-bottom: 15px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 480px) {
    &__item {
      max-width: 130px;
      &-text {
        max-width: 125px;
      }
    }
    &__title {
      margin-bottom: 15px;
    }
  }
}